body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000;
  background-image: url(../assets/bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}

.toolbar {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 60px; */
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  list-style: none;
}

.toolbarItem {
  width: 40px;
  height: 40px;
  margin: 0 4px;
}

.toolbarLink {
  display: block;
  height: 100%;
}

.toolbarImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
